#header .box_gnav .contact a {
  opacity: 1;
}

#con_page .con_sub .box_sub {
  margin-bottom: 100px;
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .box_sub {
    margin-bottom: 10%;
  }
}
#con_page .con_sub .box_sub .box_txt {
  padding: 0 10%;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_sub .box_sub .box_txt {
    padding: 0 5%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .box_sub .box_txt {
    padding: 0 5%;
  }
}
#con_page .con_sub .box_sub .box_txt h3.tit {
  margin: 40px 0;
  font-weight: 400;
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .box_sub .box_txt h3.tit {
    margin: 5% 0;
  }
}
#con_page .con_sub .box_sub .box_txt h3.tit strong, #con_page .con_sub .box_sub .box_txt h3.tit small, #con_page .con_sub .box_sub .box_txt h3.tit span {
  display: block;
}
#con_page .con_sub .box_sub .box_txt h3.tit strong {
  font-family: "Open Sans", sans-serif;
  font-size: 188%;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_sub .box_sub .box_txt h3.tit strong {
    font-size: 188%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .box_sub .box_txt h3.tit strong {
    font-size: 150%;
  }
}
#con_page .con_sub .box_sub .box_txt h3.tit small {
  font-size: 63%;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_sub .box_sub .box_txt h3.tit small {
    font-size: 63%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .box_sub .box_txt h3.tit small {
    font-size: 50%;
  }
}
#con_page .con_sub .box_sub .box_txt h3.tit span {
  font-size: 94%;
  margin-top: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_sub .box_sub .box_txt h3.tit span {
    font-size: 94%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .box_sub .box_txt h3.tit span {
    font-size: 82%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_sub .box_sub .box_txt h3.tit span {
    margin-top: 3%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .box_sub .box_txt h3.tit span {
    margin-top: 3%;
  }
}
#con_page .con_sub .box_sub .box_txt .txt {
  line-height: 2;
  color: #666;
  font-size: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_sub .box_sub .box_txt .txt {
    font-size: 100%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .box_sub .box_txt .txt {
    font-size: 88%;
  }
}
#con_page .con_sub .box_sub .box_txt .btn_more a {
  color: #333;
  font-size: 82%;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_sub .box_sub .box_txt .btn_more a {
    font-size: 82%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .box_sub .box_txt .btn_more a {
    font-size: 69%;
  }
}
#con_page .con_sub .box_sub form {
  box-sizing: border-box;
  padding: 0 10%;
  margin-top: 50px;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_sub .box_sub form {
    padding: 0 5%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .box_sub form {
    padding: 0 5%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_sub .box_sub form {
    margin-top: 5%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .box_sub form {
    margin-top: 5%;
  }
}
#con_page .con_sub .box_sub form .box_law .law {
  border: 1px solid black;
  box-sizing: border-box;
  padding: 1em 1.5em;
  font-size: 88%;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_sub .box_sub form .box_law .law {
    font-size: 88%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .box_sub form .box_law .law {
    font-size: 82%;
  }
}
#con_page .con_sub .box_sub form .box_law .law ul li {
  margin-top: 20px;
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .box_sub form .box_law .law ul li {
    margin-top: 7%;
  }
}
#con_page .con_sub .box_sub form .box_law .law ul li strong {
  display: block;
}
#con_page .con_sub .box_sub form .box_law .law ul li dl {
  margin-bottom: 0;
}
#con_page .con_sub .box_sub form .box_law .law ul li dl dt, #con_page .con_sub .box_sub form .box_law .law ul li dl dd {
  display: inline;
}
#con_page .con_sub .box_sub form .box_law .law ul li dl dt:after {
  content: ":";
  padding: 0 0.5em;
}
#con_page .con_sub .box_sub form .box_law .box_agree {
  padding-top: 15px;
  font-size: 100%;
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .box_sub form .box_law .box_agree {
    padding-top: 2%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_sub .box_sub form .box_law .box_agree {
    font-size: 100%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .box_sub form .box_law .box_agree {
    font-size: 94%;
  }
}
#con_page .con_sub .box_sub form fieldset {
  margin-top: 100px;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_sub .box_sub form fieldset {
    margin-top: 10%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .box_sub form fieldset {
    margin-top: 10%;
  }
}
#con_page .con_sub .box_sub form fieldset legend {
  border-bottom: 1px solid black;
  width: 100%;
  font-size: 150%;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_sub .box_sub form fieldset legend {
    font-size: 150%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .box_sub form fieldset legend {
    font-size: 125%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .box_sub form fieldset legend {
    padding-bottom: 2%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .box_sub form fieldset legend {
    margin-bottom: 3%;
  }
}
#con_page .con_sub .box_sub form fieldset dl {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .box_sub form fieldset dl {
    margin-bottom: 5%;
  }
}
#con_page .con_sub .box_sub form fieldset dl dd {
  display: inline-block;
}
#con_page .con_sub .box_sub form fieldset input {
  background-color: #f9f9f9;
  accent-color: #145ebe;
}
#con_page .con_sub .box_sub form fieldset input::-moz-placeholder {
  font-size: 80%;
  color: #c6c6c6;
}
#con_page .con_sub .box_sub form fieldset input::placeholder {
  font-size: 80%;
  color: #c6c6c6;
}
#con_page .con_sub .box_sub form fieldset textarea {
  background-color: #f9f9f9;
  resize: vertical;
  min-height: 200px;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}
#con_page .con_sub .box_sub form fieldset.form_base dl dt {
  width: 15%;
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .box_sub form fieldset.form_base dl dt {
    width: 100%;
  }
}
#con_page .con_sub .box_sub form fieldset.form_base dl dd {
  width: 85%;
  margin: 10px 0;
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .box_sub form fieldset.form_base dl dd {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .box_sub form fieldset.form_base dl dd {
    margin: 3% 0;
  }
}
#con_page .con_sub .box_sub form fieldset.form_base dl dd input {
  width: 100%;
  padding: 0.7em 1em;
  box-sizing: border-box;
}
#con_page .con_sub .box_sub form fieldset.form_base dl dd.half {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#con_page .con_sub .box_sub form fieldset.form_base dl dd.half input {
  width: 49%;
  margin-bottom: 0;
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .box_sub form fieldset.form_base dl dd.half input {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .box_sub form fieldset.form_base dl dd.half input {
    margin-bottom: 3%;
  }
}
#con_page .con_sub .box_sub form fieldset.form_contents dl dt {
  width: 20%;
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .box_sub form fieldset.form_contents dl dt {
    width: 100%;
  }
}
#con_page .con_sub .box_sub form fieldset.form_contents dl dd {
  width: 80%;
  margin: 10px 0;
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .box_sub form fieldset.form_contents dl dd {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .box_sub form fieldset.form_contents dl dd {
    margin: 3% 0;
  }
}
#con_page .con_sub .box_sub form fieldset.form_contents dl dd p.cate {
  display: inline-block;
  text-align: center;
  border-radius: 8px;
  padding: 0.5em 1em 0.5em 0;
  box-sizing: border-box;
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .box_sub form fieldset.form_contents dl dd p.cate {
    display: flex;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .box_sub form fieldset.form_contents dl dd p.cate {
    text-align: left;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .box_sub form fieldset.form_contents dl dd p.cate {
    border-radius: 0;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .box_sub form fieldset.form_contents dl dd p.cate {
    padding: 0.5em 0;
  }
}
#con_page .con_sub .box_sub form fieldset.form_contents dl dd input[type=text] {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5em 1em;
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .box_sub form fieldset.form_contents dl dd .cate {
    width: 100%;
    border-bottom: 1px dotted #c9c9c9;
    justify-content: space-between;
    align-items: center;
  }
  #con_page .con_sub .box_sub form fieldset.form_contents dl dd .cate input {
    width: 5%;
  }
  #con_page .con_sub .box_sub form fieldset.form_contents dl dd .cate label {
    width: 93%;
  }
}
#con_page .con_sub .box_sub form .box_send {
  margin-top: 30px;
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .box_sub form .box_send {
    margin-top: 5%;
  }
}
#con_page .con_sub .box_sub form .box_send button {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  background-color: black;
  color: white;
  border-radius: 0;
  font-size: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_sub .box_sub form .box_send button {
    border-radius: 8px;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .box_sub form .box_send button {
    border-radius: 8px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_sub .box_sub form .box_send button {
    font-size: 100%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .box_sub form .box_send button {
    font-size: 94%;
  }
}
@media only screen and (min-width: 1200px) {
  #con_page .con_sub .box_sub form .box_send button:hover {
    cursor: pointer;
  }
}
@media print {
  #con_page .con_sub .box_sub form .box_send button:hover {
    cursor: pointer;
  }
}