#con_page .con_bn {
  width: 90%;
  margin: auto;
}
@media only screen and (min-width: 1200px) {
  #con_page .con_bn {
    padding: 0 5%;
  }
}
@media print {
  #con_page .con_bn {
    padding: 0 5%;
  }
}
@media only screen and (max-width: 1199px) {
  #con_page .con_bn {
    width: 91.6666666667%;
  }
}

#header .box_gnav li:nth-child(1) a {
  opacity: 1;
}

#con_page {
  display: block;
}
#con_page .con_bn {
  position: relative;
}
#con_page .con_bn .slider-count {
  position: absolute;
  left: 4%;
  bottom: 8%;
  border: 1px solid #c1c1c1;
  border-radius: 100px;
  padding: 0 3%;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  display: inline-block;
  font-size: 82%;
  letter-spacing: 0.2em;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_bn .slider-count {
    font-size: 82%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_bn .slider-count {
    font-size: 69%;
  }
}