#con_page .con_company .box_txt {
  width: 90%;
  max-width: 1280px;
  margin: auto;
}
@media only screen and (max-width: 1199px) {
  #con_page .con_company .box_txt {
    width: 91.6666666667%;
  }
}

#con_page .con_portfolio .box_tit {
  width: 90%;
  margin: auto;
}
@media only screen and (min-width: 1200px) {
  #con_page .con_portfolio .box_tit {
    padding: 0 100px;
  }
}
@media print {
  #con_page .con_portfolio .box_tit {
    padding: 0 100px;
  }
}
@media only screen and (max-width: 1199px) {
  #con_page .con_portfolio .box_tit {
    width: 91.6666666667%;
  }
}

#con_page {
  display: block;
}
#con_page .con_main {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 5%;
  height: 100vh;
  background: url(../imgs/main/img_main.jpg) no-repeat center;
  background-size: cover;
}
@media only screen and (max-width: 767px) {
  #con_page .con_main {
    height: 90vh;
  }
}
#con_page .con_main .logo {
  position: absolute;
  top: 50px;
  right: 50px;
}
#con_page .con_main .box_slogan {
  width: 540px;
  position: absolute;
  left: 10%;
  bottom: 15%;
  color: white;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_main .box_slogan {
    width: 70%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_main .box_slogan {
    width: 90%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_main .box_slogan {
    left: 7%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_main .box_slogan {
    left: 5%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_main .box_slogan {
    bottom: 17%;
  }
}
#con_page .con_main .box_slogan h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 500%;
  line-height: 1;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_main .box_slogan h2 {
    font-size: 375%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_main .box_slogan h2 {
    font-size: 238%;
  }
}
#con_page .con_main .box_slogan small {
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  margin-top: 10px;
  display: block;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_main .box_slogan small {
    font-size: 100%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_main .box_slogan small {
    font-size: 82%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_main .box_slogan small {
    margin-top: 3%;
  }
}
#con_page .con_main .box_slogan .txt {
  font-size: 125%;
  margin-top: 50px;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_main .box_slogan .txt {
    font-size: 125%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_main .box_slogan .txt {
    font-size: 88%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_main .box_slogan .txt {
    margin-top: 5%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_main .box_slogan .txt {
    margin-top: 5%;
  }
}
#con_page .con_main .box_scroll {
  position: absolute;
  right: -8%;
  bottom: 25%;
  color: white;
  transform: rotate(-90deg);
  font-family: "Open Sans", sans-serif;
  font-size: 82%;
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_main .box_scroll {
    right: -25%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_main .box_scroll {
    right: -130px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_main .box_scroll {
    bottom: 30%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_main .box_scroll {
    bottom: 200px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_main .box_scroll {
    font-size: 82%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_main .box_scroll {
    font-size: 69%;
  }
}
#con_page .con_main .box_scroll:after {
  content: "";
  display: inline-block;
  width: 300px;
  height: 1px;
  background-color: white;
  margin-left: 10px;
}
@media only screen and (max-width: 767px) {
  #con_page .con_main .box_scroll:after {
    width: 200px;
  }
}
#con_page .con_main.page_error {
  background: url(../imgs/main/img_error.jpg) no-repeat center;
  background-size: cover;
}
#con_page .con_main.page_error .txt {
  font-size: 100%;
  line-height: 1.7;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_main.page_error .txt {
    font-size: 100%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_main.page_error .txt {
    font-size: 94%;
  }
}
#con_page .con_main.page_error .txt a {
  color: white;
  text-decoration: underline;
}
#con_page .con_main.page_thanks {
  background: url(../imgs/main/img_thanks.jpg) no-repeat center;
  background-size: cover;
}
#con_page .con_main.page_thanks small {
  display: block;
  font-size: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_main.page_thanks small {
    font-size: 100%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_main.page_thanks small {
    font-size: 94%;
  }
}
#con_page .con_main.page_thanks .txt {
  font-size: 100%;
  line-height: 1.7;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_main.page_thanks .txt {
    font-size: 100%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_main.page_thanks .txt {
    font-size: 94%;
  }
}
#con_page .con_main.page_thanks .txt a {
  color: white;
  text-decoration: underline;
}
#con_page .con_business h2.tit, #con_page .con_company h2.tit, #con_page .con_portfolio h2.tit {
  margin-bottom: 80px;
  text-align: left;
  width: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_business h2.tit, #con_page .con_company h2.tit, #con_page .con_portfolio h2.tit {
    margin-bottom: 8%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_business h2.tit, #con_page .con_company h2.tit, #con_page .con_portfolio h2.tit {
    margin-bottom: 10%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_business h2.tit, #con_page .con_company h2.tit, #con_page .con_portfolio h2.tit {
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_business h2.tit, #con_page .con_company h2.tit, #con_page .con_portfolio h2.tit {
    text-align: center;
  }
}
#con_page .con_business h2.tit span, #con_page .con_company h2.tit span, #con_page .con_portfolio h2.tit span {
  line-height: 1.2;
  font-family: "Open Sans", sans-serif;
  font-size: 238%;
  margin-bottom: 10px;
  color: #D9D9D9;
  font-weight: bold;
  display: block;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_business h2.tit span, #con_page .con_company h2.tit span, #con_page .con_portfolio h2.tit span {
    font-size: 188%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_business h2.tit span, #con_page .con_company h2.tit span, #con_page .con_portfolio h2.tit span {
    font-size: 113%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_business h2.tit span, #con_page .con_company h2.tit span, #con_page .con_portfolio h2.tit span {
    margin-bottom: 3%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_business h2.tit span, #con_page .con_company h2.tit span, #con_page .con_portfolio h2.tit span {
    margin-bottom: 3%;
  }
}
#con_page .con_business h2.tit span strong, #con_page .con_company h2.tit span strong, #con_page .con_portfolio h2.tit span strong {
  color: black;
}
#con_page .con_business h2.tit small, #con_page .con_company h2.tit small, #con_page .con_portfolio h2.tit small {
  font-size: 125%;
  display: block;
  color: #bebebe;
  font-weight: 500;
  line-height: 1;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_business h2.tit small, #con_page .con_company h2.tit small, #con_page .con_portfolio h2.tit small {
    font-size: 94%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_business h2.tit small, #con_page .con_company h2.tit small, #con_page .con_portfolio h2.tit small {
    font-size: 94%;
  }
}
#con_page .con_company, #con_page .con_portfolio, #con_page .con_contact {
  margin: 150px 0 50px;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_company, #con_page .con_portfolio, #con_page .con_contact {
    margin: 15% 0 5%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_company, #con_page .con_portfolio, #con_page .con_contact {
    margin: 20% 0 10%;
  }
}
#con_page .con_business {
  background-color: #f9f9f9;
  padding: 150px 0;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_business {
    padding: 15% 0;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_business {
    padding: 15% 0;
  }
}
#con_page .con_business .box_category {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_business .box_category {
    width: 90%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_business .box_category {
    width: 90%;
  }
}
#con_page .con_business .box_category .category_list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
#con_page .con_business .box_category .category_list .category {
  display: block;
  border-radius: 8px;
}
#con_page .con_business .box_category .category_list .category a {
  display: flex;
  align-items: flex-end;
  min-height: 297px;
  box-sizing: border-box;
  padding: 2em;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_business .box_category .category_list .category a {
    min-height: 40vw;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_business .box_category .category_list .category a {
    min-height: 70vw;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_business .box_category .category_list .category a {
    padding: 2em 1.5em;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_business .box_category .category_list .category a {
    padding: 1.5em 1em;
  }
}
#con_page .con_business .box_category .category_list .category a .sub_tit strong, #con_page .con_business .box_category .category_list .category a .sub_tit small, #con_page .con_business .box_category .category_list .category a .sub_tit h3 {
  display: block;
}
#con_page .con_business .box_category .category_list .category a .sub_tit strong {
  font-family: "Open Sans", sans-serif;
  font-size: 163%;
  line-height: 1.2;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_business .box_category .category_list .category a .sub_tit strong {
    font-size: 188%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_business .box_category .category_list .category a .sub_tit strong {
    font-size: 113%;
  }
}
#con_page .con_business .box_category .category_list .category a .sub_tit small {
  font-family: "Open Sans", sans-serif;
  font-size: 82%;
  font-weight: 600;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_business .box_category .category_list .category a .sub_tit small {
    font-size: 82%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_business .box_category .category_list .category a .sub_tit small {
    font-size: 75%;
  }
}
#con_page .con_business .box_category .category_list .category a .sub_tit h3 {
  font-size: 100%;
  margin-top: 20px;
  font-weight: 400;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_business .box_category .category_list .category a .sub_tit h3 {
    font-size: 100%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_business .box_category .category_list .category a .sub_tit h3 {
    font-size: 82%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_business .box_category .category_list .category a .sub_tit h3 {
    margin-top: 3%;
  }
}
#con_page .con_business .box_category .category_list .box_one {
  width: 39%;
  margin-bottom: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_business .box_category .category_list .box_one {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_business .box_category .category_list .box_one {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_business .box_category .category_list .box_one {
    margin-bottom: 2%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_business .box_category .category_list .box_one {
    margin-bottom: 2%;
  }
}
#con_page .con_business .box_category .category_list .box_one .brand {
  height: 100%;
  background: url(../imgs/img_brand.jpg) no-repeat center;
  background-size: 100%;
  transform: all 0.35s;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_business .box_category .category_list .box_one .brand {
    background-size: cover;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_business .box_category .category_list .box_one .brand {
    background-size: cover;
  }
}
#con_page .con_business .box_category .category_list .box_one .brand a {
  height: 100%;
}
#con_page .con_business .box_category .category_list .box_three {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_business .box_category .category_list .box_three {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_business .box_category .category_list .box_three {
    width: 100%;
  }
}
#con_page .con_business .box_category .category_list .box_three .trading {
  background: url(../imgs/img_trading.jpg) no-repeat center;
  background-size: 100%;
  margin-bottom: 15px;
  width: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_business .box_category .category_list .box_three .trading {
    background-size: cover;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_business .box_category .category_list .box_three .trading {
    background-size: cover;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_business .box_category .category_list .box_three .trading {
    margin-bottom: 2%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_business .box_category .category_list .box_three .trading {
    margin-bottom: 2%;
  }
}
#con_page .con_business .box_category .category_list .box_three .trading a {
  color: white;
}
#con_page .con_business .box_category .category_list .box_three .resturant {
  width: 49%;
  background: url(../imgs/img_resturant.jpg) no-repeat center 75%;
  background-size: 100%;
}
@media only screen and (max-width: 767px) {
  #con_page .con_business .box_category .category_list .box_three .resturant {
    width: 49%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_business .box_category .category_list .box_three .resturant {
    background-size: cover;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_business .box_category .category_list .box_three .resturant {
    background-size: cover;
  }
}
#con_page .con_business .box_category .category_list .box_three .ebiz {
  width: 49%;
  background: url(../imgs/img_ebiz.jpg) no-repeat center;
  background-size: 100%;
  color: white;
}
@media only screen and (max-width: 767px) {
  #con_page .con_business .box_category .category_list .box_three .ebiz {
    width: 49%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_business .box_category .category_list .box_three .ebiz {
    background-size: cover;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_business .box_category .category_list .box_three .ebiz {
    background-size: cover;
  }
}
#con_page .con_business .box_category .category_list .box_three .ebiz a {
  color: white;
}
#con_page .con_business .box_category .category_list .box_two {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#con_page .con_business .box_category .category_list .box_two .interior {
  width: 39%;
  background: url(../imgs/img_interior.jpg) no-repeat center;
  background-size: 100%;
  margin-top: 15px;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_business .box_category .category_list .box_two .interior {
    width: 49%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_business .box_category .category_list .box_two .interior {
    width: 49%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_business .box_category .category_list .box_two .interior {
    background-size: cover;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_business .box_category .category_list .box_two .interior {
    background-size: cover;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_business .box_category .category_list .box_two .interior {
    margin-top: 2%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_business .box_category .category_list .box_two .interior {
    margin-top: 2%;
  }
}
#con_page .con_business .box_category .category_list .box_two .sports {
  width: 60%;
  background: url(../imgs/img_leisure.jpg) no-repeat center;
  background-size: 100%;
  margin-top: 15px;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_business .box_category .category_list .box_two .sports {
    width: 49%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_business .box_category .category_list .box_two .sports {
    width: 49%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_business .box_category .category_list .box_two .sports {
    background-size: cover;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_business .box_category .category_list .box_two .sports {
    background-size: cover;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_business .box_category .category_list .box_two .sports {
    margin-top: 2%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_business .box_category .category_list .box_two .sports {
    margin-top: 2%;
  }
}
#con_page .con_business .box_category .category_list .box_two .sports a {
  color: white;
}
@media only screen and (min-width: 1561px) {
  #con_page .con_business .box_category .category_list .category {
    transition: background-size 1.5s;
  }
  #con_page .con_business .box_category .category_list .category:hover {
    background-size: 110%;
  }
}
@media print {
  #con_page .con_business .box_category .category_list .category {
    transition: background-size 1.5s;
  }
  #con_page .con_business .box_category .category_list .category:hover {
    background-size: 110%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1560px) {
  #con_page .con_business .box_category .category_list .box_one .brand {
    background-size: cover;
  }
}
@media only screen and (min-width: 1200px) {
  #con_page .con_business .box_category {
    min-width: 960px;
  }
}
@media print {
  #con_page .con_business .box_category {
    min-width: 960px;
  }
}
#con_page .con_company {
  width: 100%;
}
#con_page .con_company .box_tit h2.tit {
  text-align: center;
}
#con_page .con_company .box_txt {
  text-align: center;
}
#con_page .con_company .box_txt strong, #con_page .con_company .box_txt span {
  display: block;
}
#con_page .con_company .box_txt strong {
  font-size: 213%;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_company .box_txt strong {
    font-size: 213%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_company .box_txt strong {
    font-size: 125%;
  }
}
#con_page .con_company .box_txt span {
  margin-top: 30px;
  font-size: 113%;
  line-height: 1.7;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_company .box_txt span {
    margin-top: 5%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_company .box_txt span {
    margin-top: 5%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_company .box_txt span {
    font-size: 113%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_company .box_txt span {
    font-size: 94%;
  }
}
#con_page .con_company .box_txt .btn_more a {
  color: black;
}
#con_page .con_company .box_company {
  margin-top: 100px;
  box-sizing: border-box;
  padding: 230px 0;
  background: url(../imgs/img_company.jpg) no-repeat center;
  background-size: cover;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_company .box_company {
    margin-top: 10%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_company .box_company {
    margin-top: 10%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_company .box_company {
    padding: 20% 0;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_company .box_company {
    padding: 25% 0;
  }
}
#con_page .con_portfolio {
  box-sizing: border-box;
  padding-left: 100px;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_portfolio {
    padding-left: 0;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_portfolio {
    padding-left: 0;
  }
}
#con_page .con_portfolio .box_tit {
  text-align: left;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_portfolio .box_tit {
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_portfolio .box_tit {
    text-align: center;
  }
}
#con_page .con_portfolio .box_tit h2.tit {
  margin-bottom: 30px;
}
#con_page .con_portfolio .box_tit .txt {
  margin-top: 20px;
  font-size: 113%;
  line-height: 1.7;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_portfolio .box_tit .txt {
    margin-top: 5%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_portfolio .box_tit .txt {
    margin-top: 5%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_portfolio .box_tit .txt {
    font-size: 113%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_portfolio .box_tit .txt {
    font-size: 94%;
  }
}
#con_page .con_portfolio .box_slider {
  margin-top: 100px;
  position: relative;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_portfolio .box_slider {
    margin-top: 10%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_portfolio .box_slider {
    margin-top: 10%;
  }
}
#con_page .con_portfolio .box_slider .slider {
  height: 476px;
  margin: 0 10px;
  border-radius: 8px;
  overflow: hidden;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_portfolio .box_slider .slider {
    height: 55vw;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_portfolio .box_slider .slider {
    height: 100vw;
  }
}
#con_page .con_portfolio .box_slider .slider a {
  width: 375px;
  background-color: #d9d9d9;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  position: relative;
}
@media only screen and (max-width: 767px) {
  #con_page .con_portfolio .box_slider .slider a {
    width: 85vw;
  }
}
#con_page .con_portfolio .box_slider .slider a .box_tit {
  width: 100%;
  padding: 30px 25px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_portfolio .box_slider .slider a .box_tit {
    padding: 5% 3%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_portfolio .box_slider .slider a .box_tit {
    padding: 5% 3%;
  }
}
#con_page .con_portfolio .box_slider .slider a .box_tit .tit {
  color: white;
  line-height: 1.2;
  font-size: 188%;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_portfolio .box_slider .slider a .box_tit .tit {
    font-size: 157%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_portfolio .box_slider .slider a .box_tit .tit {
    font-size: 125%;
  }
}
#con_page .con_portfolio .box_slider .slider a .box_tit small {
  display: block;
  font-size: 88%;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_portfolio .box_slider .slider a .box_tit small {
    font-size: 88%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_portfolio .box_slider .slider a .box_tit small {
    font-size: 82%;
  }
}
#con_page .con_portfolio .box_slider .slider a .box_tit .txt {
  margin-top: 20px;
  font-size: 88%;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_portfolio .box_slider .slider a .box_tit .txt {
    margin-top: 3%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_portfolio .box_slider .slider a .box_tit .txt {
    margin-top: 5%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_portfolio .box_slider .slider a .box_tit .txt {
    font-size: 88%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_portfolio .box_slider .slider a .box_tit .txt {
    font-size: 75%;
  }
}
#con_page .con_portfolio .box_slider .slider.golf a {
  background: url(../imgs/main/img_main_vivusgolf.jpg) no-repeat center;
  background-size: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_portfolio .box_slider .slider.golf a {
    background-size: cover;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_portfolio .box_slider .slider.golf a {
    background-size: cover;
  }
}
#con_page .con_portfolio .box_slider .slider.regina a {
  background: url(../imgs/main/img_main_vivusregina.jpg) no-repeat center;
  background-size: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_portfolio .box_slider .slider.regina a {
    background-size: cover;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_portfolio .box_slider .slider.regina a {
    background-size: cover;
  }
}
#con_page .con_portfolio .box_slider .slider.cooling a {
  background: url(../imgs/main/img_main_cooling.jpg) no-repeat center;
  background-size: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_portfolio .box_slider .slider.cooling a {
    background-size: cover;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_portfolio .box_slider .slider.cooling a {
    background-size: cover;
  }
}
#con_page .con_portfolio .box_slider .slider.mask a {
  background: url(../imgs/main/img_main_mask.jpg) no-repeat center;
  background-size: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_portfolio .box_slider .slider.mask a {
    background-size: cover;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_portfolio .box_slider .slider.mask a {
    background-size: cover;
  }
}
#con_page .con_portfolio .box_slider .slider.nikibi a {
  background: url(../imgs/main/img_main_nikibi.jpg) no-repeat center;
  background-size: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_portfolio .box_slider .slider.nikibi a {
    background-size: cover;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_portfolio .box_slider .slider.nikibi a {
    background-size: cover;
  }
}
#con_page .con_portfolio .box_slider .slick-prev {
  display: none !important;
}
#con_page .con_portfolio .box_slider .slick-next {
  width: 50px;
  height: 50px;
  display: inline-flex;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: white;
  top: 0;
  left: -25px;
  bottom: 0;
  margin: auto;
  text-indent: -100vw;
}
#con_page .con_portfolio .box_slider .slick-next:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 8px solid transparent;
  border-right: 8px solid black;
  margin-left: -8px;
  border-radius: 3px;
  opacity: 0.4;
}
#con_page .con_portfolio .box_slider .slick-dots {
  display: flex;
  justify-content: center;
  margin: 20px 0 0 -100px;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_portfolio .box_slider .slick-dots {
    margin: 3% 0;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_portfolio .box_slider .slick-dots {
    margin: 3% 0;
  }
}
#con_page .con_portfolio .box_slider .slick-dots li {
  margin: 0 4px;
}
#con_page .con_portfolio .box_slider .slick-dots li button {
  text-indent: -9999px;
  width: 10px;
  height: 10px;
  background-color: #d9d9d9;
}
#con_page .con_portfolio .box_slider .slick-dots li.slick-active button {
  background-color: black;
}
@media only screen and (min-width: 1200px) {
  #con_page .con_portfolio .box_tit {
    padding: 0;
    width: 100%;
  }
  #con_page .con_portfolio .box_slider .slider a {
    transition: background-size 1.5s;
  }
  #con_page .con_portfolio .box_slider .slider a:hover {
    background-size: 110%;
  }
  #con_page .con_portfolio .box_slider .slick-next:hover {
    cursor: pointer;
  }
  #con_page .con_portfolio .box_slider .slick-next:hover:before {
    opacity: 1;
  }
  #con_page .con_portfolio .box_slider .slick-dots button:hover {
    cursor: pointer;
  }
}
@media print {
  #con_page .con_portfolio .box_tit {
    padding: 0;
    width: 100%;
  }
  #con_page .con_portfolio .box_slider .slider a {
    transition: background-size 1.5s;
  }
  #con_page .con_portfolio .box_slider .slider a:hover {
    background-size: 110%;
  }
  #con_page .con_portfolio .box_slider .slick-next:hover {
    cursor: pointer;
  }
  #con_page .con_portfolio .box_slider .slick-next:hover:before {
    opacity: 1;
  }
  #con_page .con_portfolio .box_slider .slick-dots button:hover {
    cursor: pointer;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_portfolio .box_slider {
    box-sizing: border-box;
    overflow: hidden;
    padding-left: 5%;
  }
}
#con_page .con_contact {
  width: 100%;
  background: url(../imgs/img_contact.jpg) no-repeat center bottom;
  background-size: cover;
  margin-bottom: 1%;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_contact {
    background-size: 200%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_contact {
    background-size: 250%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_contact {
    margin-bottom: 3%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_contact {
    margin-bottom: 3%;
  }
}
#con_page .con_contact .box_contact {
  box-sizing: border-box;
  position: relative;
  padding: 50px 120px;
  text-align: left;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_contact .box_contact {
    padding: 5% 3%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_contact .box_contact {
    padding: 10% 5%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_contact .box_contact {
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_contact .box_contact {
    text-align: center;
  }
}
#con_page .con_contact .box_contact .box_tit, #con_page .con_contact .box_contact .btn_more {
  position: relative;
  z-index: 2;
}
#con_page .con_contact .box_contact .box_tit .tit span, #con_page .con_contact .box_contact .box_tit .tit small {
  color: white;
  display: block;
}
#con_page .con_contact .box_contact .box_tit .tit span {
  font-size: 125%;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_contact .box_contact .box_tit .tit span {
    font-size: 125%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_contact .box_contact .box_tit .tit span {
    font-size: 94%;
  }
}
#con_page .con_contact .box_contact .box_tit .tit small {
  font-weight: 500;
  font-size: 82%;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_contact .box_contact .box_tit .tit small {
    font-size: 94%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_contact .box_contact .box_tit .tit small {
    font-size: 63%;
  }
}
#con_page .con_contact .box_contact .box_tit .txt {
  color: white;
  font-size: 100%;
  margin-top: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_contact .box_contact .box_tit .txt {
    font-size: 100%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_contact .box_contact .box_tit .txt {
    font-size: 82%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_contact .box_contact .box_tit .txt {
    margin-top: 3%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_contact .box_contact .box_tit .txt {
    margin-top: 5%;
  }
}
#con_page .con_contact .box_contact:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}