#header .box_gnav li:nth-child(1) a {
  opacity: 1;
}
@media only screen and (max-width: 767px) {
  #header .logo {
    display: block;
  }
  #header .p_tit {
    display: none;
  }
}

#con_page {
  display: block;
}