#header .box_gnav li:nth-child(3) a {
  opacity: 1;
}
@media only screen and (max-width: 767px) {
  #header .logo {
    display: none;
  }
  #header .p_tit.msg {
    display: block;
    font-weight: bold;
  }
}

#con_page {
  padding-bottom: 200px;
  background-color: white;
}
@media only screen and (max-width: 767px) {
  #con_page {
    padding-bottom: 30%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page {
    background-color: #f2f4f6;
  }
}
#con_page .wrp_slide_list.comm .con_slide_list .box_slide_list li {
  background-color: #f2f4f6;
}
@media only screen and (max-width: 767px) {
  #con_page .wrp_slide_list.comm .con_slide_list .box_slide_list li {
    background-color: white;
  }
}
#con_page .con_bn {
  margin: 70px 5% 0 5%;
  margin-top: 30px;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_bn {
    margin: 8% 4% 0 4%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_bn {
    margin: 11% 4% 0 4%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_bn {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_bn {
    margin-top: 5%;
  }
}
#con_page .con_bn .box_bn {
  background-color: #f9f9f9;
  box-sizing: border-box;
}
@media only screen and (max-width: 767px) {
  #con_page .con_bn .box_bn {
    background-color: white;
  }
}
#con_page .con_post {
  margin: 70px 5% 0 5%;
  margin-top: 30px;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_post {
    margin: 8% 4% 0 4%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_post {
    margin: 11% 4% 0 4%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_post {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_post {
    margin-top: 5%;
  }
}
#con_page .con_post .box_post {
  background-color: white;
  border-radius: 16px;
  margin-bottom: 16px;
}
@media only screen and (max-width: 767px) {
  #con_page .con_post .box_post {
    margin-bottom: 2%;
  }
}
#con_page .con_post .box_post a {
  display: block;
  padding: 20px;
  box-sizing: border-box;
}
@media only screen and (max-width: 767px) {
  #con_page .con_post .box_post a {
    padding: 2% 4%;
  }
}
#con_page .con_post .box_post a .box_profile {
  display: flex;
  justify-content: space-between;
}
#con_page .con_post .box_post a .box_profile .user_info {
  align-items: center;
  display: flex;
  width: 65%;
}
#con_page .con_post .box_post a .box_profile .user_info .box_pic {
  position: relative;
}
#con_page .con_post .box_post a .box_profile .user_info .box_pic .pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
#con_page .con_post .box_post a .box_profile .user_info .txt_info {
  margin-left: 10px;
  width: calc(100% - 48px);
  margin-bottom: 0.3em;
  font-size: 100%;
  font-weight: normal;
}
@media only screen and (max-width: 767px) {
  #con_page .con_post .box_post a .box_profile .user_info .txt_info {
    margin-left: 4%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_post .box_post a .box_profile .user_info .txt_info {
    font-size: 100%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_post .box_post a .box_profile .user_info .txt_info {
    font-size: 75%;
  }
}
#con_page .con_post .box_post a .box_profile .user_info .txt_info .info {
  display: inline-flex;
  align-items: center;
  width: 100%;
}
#con_page .con_post .box_post a .box_profile .user_info .txt_info .info span {
  display: inline-block;
}
#con_page .con_post .box_post a .box_profile .user_info .txt_info .info .star {
  margin: 0 4px 0 8px;
  line-height: 0;
}
@media only screen and (max-width: 767px) {
  #con_page .con_post .box_post a .box_profile .user_info .txt_info .info .star {
    margin: 0 2% 0 3%;
  }
}
#con_page .con_post .box_post a .box_profile .user_info .txt_info .info .star img {
  width: 8px;
}
#con_page .con_post .box_post a .box_profile .user_info .txt_info .info .score {
  font-size: 69%;
  font-weight: normal;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_post .box_post a .box_profile .user_info .txt_info .info .score {
    font-size: 69%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_post .box_post a .box_profile .user_info .txt_info .info .score {
    font-size: 57%;
  }
}
#con_page .con_post .box_post a .box_profile .user_info .txt_info .world {
  font-size: 0.8em;
  color: #a4a4a4;
}
#con_page .con_post .box_post a .box_profile .cate {
  width: 35%;
  font-size: 94%;
  font-weight: normal;
  text-align: right;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_post .box_post a .box_profile .cate {
    font-size: 94%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_post .box_post a .box_profile .cate {
    font-size: 69%;
  }
}
#con_page .con_post .box_post a .box_txt {
  padding-left: 50px;
}
#con_page .con_post .box_post a .box_txt .txt {
  font-size: 94%;
  font-weight: normal;
  color: #a4a4a4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_post .box_post a .box_txt .txt {
    font-size: 94%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_post .box_post a .box_txt .txt {
    font-size: 69%;
  }
}
@media only screen and (min-width: 1200px) {
  #con_page .con_post .box_post .box_txt a:hover .txt {
    text-decoration: underline;
  }
  #con_page .con_post .box_post:hover {
    border-color: #333333;
  }
}
@media print {
  #con_page .con_post .box_post .box_txt a:hover .txt {
    text-decoration: underline;
  }
  #con_page .con_post .box_post:hover {
    border-color: #333333;
  }
}
@media only screen and (min-width: 768px) {
  #con_page .con_post .box_post {
    border: 1px solid #e6e6e6;
  }
}
@media only screen and (min-width: 1200px) {
  #con_page .con_post {
    max-width: 970px;
  }
}
@media print {
  #con_page .con_post {
    max-width: 970px;
  }
}