#con_page .con_sub .box_sub .box_btn {
  width: 90%;
  max-width: 1280px;
  margin: auto;
}
@media only screen and (max-width: 1199px) {
  #con_page .con_sub .box_sub .box_btn {
    width: 91.6666666667%;
  }
}

#con_page {
  display: flex;
  flex-wrap: wrap;
}
#con_page .con_visual {
  display: flex;
  width: 35%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_visual {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_visual {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_visual {
    height: 35vh;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_visual {
    height: 25vh;
  }
}
#con_page .con_visual.business {
  background: url(../imgs/business/img_business.jpg) no-repeat center;
  background-size: cover;
}
#con_page .con_visual.story {
  background: url(../imgs/story/img_story.jpg) no-repeat center bottom;
  background-size: cover;
}
#con_page .con_visual.contact {
  background: url(../imgs/img_contact.jpg) no-repeat center bottom;
  background-size: cover;
}
#con_page .con_visual h2.tit {
  color: white;
  text-align: center;
  font-size: 282%;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_visual h2.tit {
    font-size: 282%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_visual h2.tit {
    font-size: 188%;
  }
}
#con_page .con_visual h2.tit small {
  display: block;
  font-size: 50%;
  font-weight: 400;
}
#con_page .con_sub {
  width: 65%;
  padding-bottom: 0;
  box-sizing: border-box;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_sub {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub {
    padding-bottom: 25%;
  }
}
#con_page .con_sub .pnav {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  position: sticky;
  z-index: 2;
  top: 0;
  padding: 2% 5%;
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .pnav {
    background-color: #f9f9f9;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .pnav {
    top: 59px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_sub .pnav {
    padding: 2% 5%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .pnav {
    padding: 3% 5%;
  }
}
#con_page .con_sub .pnav .box_route li, #con_page .con_sub .pnav .box_cate li {
  display: inline-flex;
  font-size: 82%;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_sub .pnav .box_route li, #con_page .con_sub .pnav .box_cate li {
    font-size: 82%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .pnav .box_route li, #con_page .con_sub .pnav .box_cate li {
    font-size: 75%;
  }
}
#con_page .con_sub .pnav .box_route li {
  display: inline-flex;
  align-items: center;
}
#con_page .con_sub .pnav .box_route li a i {
  margin-right: 4px;
}
#con_page .con_sub .pnav .box_route li a:after {
  content: "\f054";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin: 0 4px;
  opacity: 0.4;
}
#con_page .con_sub .pnav .box_route li strong {
  font-weight: 400;
}
#con_page .con_sub .pnav .box_cate {
  text-align: right;
  overflow-y: scroll;
  scrollbar-width: none;
}
#con_page .con_sub .pnav .box_cate::-webkit-scrollbar {
  display: none;
}
#con_page .con_sub .pnav .box_cate ul li {
  padding-left: 15px;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_sub .pnav .box_cate ul li {
    padding-left: 3%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .pnav .box_cate ul li {
    padding-left: 3%;
  }
}
#con_page .con_sub .pnav .box_cate ul li a {
  opacity: 0.5;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}
#con_page .con_sub .pnav .box_cate ul li:first-child {
  padding-left: 0;
}
#con_page .con_sub .box_sub {
  position: relative;
  box-sizing: border-box;
}
#con_page .con_sub .box_sub .box_btn {
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_sub .box_sub .box_btn {
    margin: 10% auto;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .box_sub .box_btn {
    margin: 10% auto;
  }
}
#con_page .con_sub .box_sub .box_btn a {
  width: 49%;
  margin-bottom: 0;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 0.7em 1em;
  text-align: center;
  border-radius: 0;
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .box_sub .box_btn a {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .box_sub .box_btn a {
    margin-bottom: 5%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #con_page .con_sub .box_sub .box_btn a {
    border-radius: 8px;
  }
}
@media only screen and (max-width: 767px) {
  #con_page .con_sub .box_sub .box_btn a {
    border-radius: 8px;
  }
}
#con_page .con_sub .box_sub .box_btn a.btn_prev:before {
  content: "\f053";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 0.5em;
  font-size: 80%;
}
#con_page .con_sub .box_sub .box_btn a.btn_next {
  background-color: black;
  color: white;
}
#con_page .con_sub .box_sub .box_btn a.btn_next:after {
  content: "\f054";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-left: 0.5em;
  font-size: 80%;
}
@media only screen and (min-width: 1200px) and (max-width: 1560px) {
  #con_page .con_visual {
    width: 30%;
  }
  #con_page .con_visual h2.tit {
    font-size: 35px;
  }
  #con_page .con_sub {
    width: 70%;
  }
}
@media only screen and (min-width: 1200px) {
  #con_page .con_visual, #con_page .con_sub {
    height: 100vh;
  }
  #con_page .con_sub {
    overflow-y: scroll;
  }
  #con_page .con_sub .pnav .box_route a:hover span {
    text-decoration: underline;
  }
  #con_page .con_sub .pnav .box_cate li a:hover {
    opacity: 1;
    text-decoration: underline;
  }
  #con_page .con_sub .tab button:hover {
    cursor: pointer;
  }
  #con_page .con_sub .box_sub .box_btn a {
    opacity: 0.3;
  }
  #con_page .con_sub .box_sub .box_btn a:hover {
    opacity: 1;
  }
}
@media print {
  #con_page .con_visual, #con_page .con_sub {
    height: 100vh;
  }
  #con_page .con_sub {
    overflow-y: scroll;
  }
  #con_page .con_sub .pnav .box_route a:hover span {
    text-decoration: underline;
  }
  #con_page .con_sub .pnav .box_cate li a:hover {
    opacity: 1;
    text-decoration: underline;
  }
  #con_page .con_sub .tab button:hover {
    cursor: pointer;
  }
  #con_page .con_sub .box_sub .box_btn a {
    opacity: 0.3;
  }
  #con_page .con_sub .box_sub .box_btn a:hover {
    opacity: 1;
  }
}
@media only screen and (max-width: 1199px) {
  #con_page .con_sub .box_sub .box_btn a {
    display: block;
    border-bottom: 1px solid black;
  }
}