@charset "utf-8";
@import "settings";

#header {
    .box_gnav .business a {
        opacity: 1;
    }
}

#con_page {
    .con_visual {
        &.trading {
            background: url(../imgs/img_trading.jpg) no-repeat center;
            background-size: cover;
        }
        &.resturant {
            background: url(../imgs/img_resturant.jpg) no-repeat center;
            background-size: cover;
        }
        &.ebiz {
            background: url(../imgs/img_ebiz.jpg) no-repeat center;
            background-size: cover;
        }
        &.leisure {
            background: url(../imgs/img_leisure.jpg) no-repeat center;
            background-size: cover;
        }
        &.interior {
            background: url(../imgs/img_interior.jpg) no-repeat center;
            background-size: cover;
        }
    }
    .con_sub {
        .box_sub {
            .box_business, .box_cate {
                @include cV(padding-top, 100px, 15%, 15%);
                .box_txt {
                    @include cV(padding, 0 10%, 0 5%, 0 5%);
                    h3.tit {
                        @include cV(margin, 40px 0, 5% 0);
                        font-weight: 400;
                        strong, small, span {display: block;}
                        strong {
                            @include font('en');
                            @include fsz-cha(30,30,22);
                        }
                        small {
                            @include fsz-cha(10,10,8);

                        }
                        span {
                            @include fsz-cha(15,15,13);
                            @include cV(margin-top, 20px, 3%, 3%);
                        }
                    }
                    .txt {
                        line-height: 2;
                        color: #666;
                        @include fsz-cha(16,16,14);
                    }
                    .box_brands {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        @include cV(margin-top, 100px, 10%, 10%);
                        .regina, .golf {
                            @include cV(width, 48%, 100%);
                            .img {
                                width: 100%;
                                @include cV(border-radius, 0, 8px, 8px);
                                @include cV(height, 25vw, 38vw, 55vw);
                            }
                            dl {
                                dt {
                                    @include fsz-cha(14,14,13);
                                    @include cV(margin, 10px 0, 3% 0);
                                }
                                dd {
                                    @include fsz-cha(13,13,12);
                                    color: #bbb;                                    &.btn_link {
                                        @include cV(margin-top, 20px, 3%);
                                        text-align: right;
                                    }
                                    &.btn_link {
                                        display: block;
                                        a {
                                            display: block;
                                            i {
                                                @include cV(margin-left, 8px, 1em);
                                                display: inline-block;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .regina {
                            @include cV(margin-bottom, 0, 15%);
                            .img {
                                background: url(../imgs/business/img_brand_regina.jpg) no-repeat center;
                                background-size: cover;
                            }
                        } 
                        .golf .img {
                            background: url(../imgs/business/img_brand_golf.jpg) no-repeat center;
                            background-size: cover;
                        }
                    }
                    .btn_more {
                        a {
                            color: $baseColor;
                            @include fsz-cha(13,13,11);
                        }
                    }
                }
                .tag {
                    display: flex;
                    flex-wrap: wrap;
                    @include cV(margin-top, 30px, 5%);
                    li {
                        @include fsz-cha(13,13,11);
                        border: 1px solid #d9d9d9;
                        color: #a4a4a4;
                        padding: 0.3em 0.5em;
                        border-radius: 8px;
                        @include cV(margin-right, 8px, 1%);
                        @include cV(margin-bottom, 8px, 1%);
                    }
                }
            &:first-child {
                    padding-top: 0;
                }
                &:last-child {
                    @include cV(margin-bottom, 100px, 10%, 10%);
                }
                @include mq(pc) {
                    .btn_link a:hover {
                        color: black;
                        text-decoration: underline;
                        opacity: 1;
                    }
                }
            }
            .box_business {
                .box_img {
                    width: 100%;
                    height: 300px;
                    &.brand {
                        background: url(../imgs/img_brand.jpg) no-repeat center;
                        background-size: cover;
                    }
                    &.trading {
                        background: url(../imgs/img_trading.jpg) no-repeat center;
                        background-size: cover;
                    }
                    &.resturant {
                        background: url(../imgs/img_resturant.jpg) no-repeat center;
                        background-size: cover;
                    }
                    &.ebiz {
                        background: url(../imgs/img_ebiz.jpg) no-repeat center top;
                        background-size: cover;
                    }
                    &.leisure {
                        background: url(../imgs/img_leisure.jpg) no-repeat center;
                        background-size: cover;
                    }
                    &.interior {
                        background: url(../imgs/img_interior.jpg) no-repeat center;
                        background-size: cover;
                    }
                }
            }
            .box_cate {
                .box_img {
                    @extend %bw;
                    @include cV(height, 300px, 30vw, 40vw);
                    &.oem {
                        background: url(../imgs/business/img_oem.jpg) no-repeat center;
                        background-size: cover;
                    }
                    &.import {
                        background: url(../imgs/business/img_import.jpg) no-repeat center;
                        background-size: cover;
                    }
                    &.export {
                        background: url(../imgs/business/img_export.jpg) no-repeat center;
                        background-size: cover;
                    }
                    &.yakiniku {
                        background: url(../imgs/business/img_yakiniku.jpg) no-repeat center;
                        background-size: cover;
                    }
                    &.ramen {
                        background: url(../imgs/business/img_ramen.jpg) no-repeat center;
                        background-size: cover;
                    }
                    &.dining {
                        background: url(../imgs/business/img_dining.jpg) no-repeat center;
                        background-size: cover;
                    }
                    &.web {
                        background: url(../imgs/business/img_website.jpg) no-repeat center;
                        background-size: cover;
                    }
                    &.marketing {
                        background: url(../imgs/business/img_marketing.jpg) no-repeat center;
                        background-size: cover;
                    }
                    &.golf {
                        background: url(../imgs/business/img_golf.jpg) no-repeat center;
                        background-size: cover;
                    }
                    &.parkgolf {
                        background: url(../imgs/business/img_parkgolf.jpg) no-repeat center;
                        background-size: cover;
                    }
                    &.store {
                        background: url(../imgs/business/img_store.jpg) no-repeat center;
                        background-size: cover;
                    }
                    &.office {
                        background: url(../imgs/business/img_office.jpg) no-repeat center;
                        background-size: cover;
                    }
                }
                .box_txt {
                    h3.st {
                        @include cV(margin, 20px 0, 5% 0);
                        strong {
                            @include fsz-cha(20,20,18);
                            width: 100%;
                            display: inline-block;
                            font-weight: bold;
                        }
                        small {
                            @include fsz-cha(10,10,9);
                            display: inline-block;
                            @include font('en');
                            @include cV(margin-left, 8px, 3%);
                        }
                    }
                }
                
            }
        }
        @include mq(pc_s) {
            .pnav .box_cate {display: none;}
        }
        @include mq(sp) {
            .pnav::-webkit-scrollbar {
                display: none;
            }
            .pnav {
                overflow-x: scroll;
            }
        }
    }
}
