@charset "utf-8";
@import "settings";

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
html {
	line-height: 1.5;
    overflow-x: hidden;
	max-width: 1100px;
    em {font-style: normal;}
    
}
body {
	color: $baseColor;
	background: #fff;
    font-family: 'Noto Sans JP', sans-serif;
	-webkit-text-size-adjust: none;
	@include fsz($baseSize, 16);
	.ie & {
		@include fsz($baseSize, 13.4);
	}
	@include mq(sp) {
		@include fsz($baseSize - 1, 13);
	}
	a {
		color: $baseColor;
        text-decoration: none;
	}
	img {
		max-width: 100%;
		-webkit-touch-callout: none;
		line-height: 1;
	}
    .en {@include font('en');}

	::-webkit-scrollbar {
		display: none;
	  }
}

input, select, textarea {
	font-size: 100%;
}
select {
	@include mq(sp) {
		// font-size: 16px;
	}
}

// ie8 지원
html.ie8 {
	.view_tab,
	.view_tab_sp,
	.view_sp {
		display: none !important;
	}
	#con_page {
		min-width: $columnWidth * 1px !important;
		margin: auto;
		font-size: 100% !important;
	}
}

// .view_xxx
body {
	position: relative;
	@include mq(pc) {
		.view_tab-sp,
		.view_tab {
			display: none !important;
		}
	}
	@include mq(pc_tab) {
		.view_sp {
			display: none !important;
		}
	}
	@include mq(tab_sp) {
		.view_pc {
			display: none !important;
		}
	}
	@include mq(sp) {
		.view_pc-tab,
		.view_tab {
			display: none !important;
		}
	}
}

li {list-style-type: none;}


/* header Style */
#header {
	@include cV(width, 245px, 75px, 100%);
	@include cV(padding, 45px 35px 35px, 40px 20px 30px, 3%);
	position: fixed;
	background-color: white;
	box-sizing: border-box;
	z-index: 100;
	border-right: 1px solid $lightGray;
	.logo {
		@include cV(padding-top, 0, 0.1em);
		@include cV(width, 100%, 50%);
		a {
			display: block;
		}
	}
	.box_gnav {
		position: relative;
		li {
			@include cV(margin, 40px 0, 0);
			a {
				display: flex;
				flex-wrap: wrap;
				opacity: 0.3;
				span {
					@include fsz-cha(20,16,12);
					font-weight: bold;
					display: block;
					@include cV(margin-right, 15px, 0, 0);
				}
				em {
					@include fsz-cha(16,14,9);
					display: block;
				}
			}
		}
	}
	.box_util {
		.box_sns {
			display: flex;
			li {
				p {
					padding: 0.5em;
				}
			}
		}
		.address {
			li {
				@include font('en');
				@include fsz(14,16);
				opacity: 0.5;

			}
			
		}
	}

	@include mq(pc_s) {
		width: 220px;
		.box_gnav {
			li {
				margin: 35px 0;
				a {
					span {
						font-size: 18px;
					}
					em {
						font-size: 16px;
					}
				}
			}
		}
		}

	@include mq(pc_tab) {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	@include mq(tab) {
		.logo {
			width: 100%;
			.logo_waplay {display: none;}
		}
		.box_gnav li a {
			width: 100%;
			padding: 0.5em 0;
			display: flex;
			justify-content: center;
			img {
				max-width: none;
				width: 100%;
			}
			em { display: none;}
		}
		.box_util .address {display: none;}
	}
	@include mq(sp) {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 60px;
		top: 0;
		.box_gnav {
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			display: flex;
			justify-content: space-around;
			border-radius: 20px 20px 0 0;
			background-color: white;
			transition: bottom 0.35s;
			li {
				width: 20%;
				a {
					text-align: center;
					padding: 10% 0 28%;
					span, em {
						width: 100%;
					}
				}
				&.btn_play {
					position: fixed;
					z-index: 100;
					display: inline-flex;
					justify-content: center;
					bottom: 5%;
					a {
						@include cV(width, 56px, 45px);
						@include cV(height, 56px, 45px);
						background-color: $pointColor;
						border-radius: 50%;
						border: 6px solid white;
						display: inline-flex;
						justify-content: center;
						align-items: center;
						opacity: 1;
						padding: 0;
						img {
							color: white;
							width:55%;
						}
					}
				}
				&:nth-child(2) {
					padding-right: 5%;
				}
				&:nth-child(4) {
					padding-left: 5%;
				}
			}
			&.active {
				bottom: 0;
			}
		}
	}
}
.open_menu {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	position: fixed;
	overflow-y: scroll;
	right: -100%;
	z-index: 100;
	background-color: #f9f9f9;
	transition: right 0.35s ease;
	ul {
		padding: 10% 0 25%;
		.nav {
			.tit {
				display: block;
				padding: 5%;
				strong, span {
					@include cV(block, inline-block);
				}
				span {
					@include fsz(13);
				}
			}
			.list {
				padding: 0 5%;
				display: flex;
				flex-wrap: wrap;
				li {
					margin-left: 2%;
					margin-bottom:2%;
					width: 100%;
					a {
						box-sizing: border-box;
						border: 1px solid #ebebeb;
						display: block;
						box-sizing: border-box;
						padding: 1em;
						background-color: white;
						border-radius: 8px;
						@include fsz(13);
						i {margin-right: 0.5em;}
						
					}
				}
			}
			.gallery {
				padding: 0 5%;
				display: flex;
				flex-wrap: wrap;
				li {
					width: 32%;
					height: 35vw;
					background-color: white;
					margin-left: 2%;
					margin-bottom: 2%;
					border-radius: 8px;
					overflow: hidden;
					a {
						display: flex;
						text-align: center;
						height: 100%;
						flex-direction: column-reverse;
						small {
							@include fsz(10);
							box-sizing: border-box;
							padding: 0.3em 0.2em;
							color: white;
							background-color: rgba(0,0,0,0.2);
							font-weight: 500;
						}
					}
					&.brand {
						background: url(../imgs/img_brand.jpg) no-repeat center;
						background-size: cover;
					}
					&.trading {
						background: url(../imgs/img_trading.jpg) no-repeat center;
						background-size: cover;
					}
					&.resturant {
						background: url(../imgs/img_resturant.jpg) no-repeat center;
						background-size: cover;
					}
					&.ebiz {
						background: url(../imgs/img_ebiz.jpg) no-repeat center;
						background-size: cover;
					}
					&.leisure {
						background: url(../imgs/img_leisure.jpg) no-repeat center;
						background-size: cover;
					}
					&.interior {
						background: url(../imgs/img_interior.jpg) no-repeat center;
						background-size: cover;
					}
				
					&:nth-child(3n+1) {
						margin-left: 0;
					}
				}
			} 
		}
	}
	&.active {
		top: 0;
		right: 0;
	}
}


#con_page {
	@include cV(width, calc(100% - 245px),calc(100% - 75px), 100%);
	@include cV(margin-top, 0, 60px);
    box-sizing: border-box;
	@include cV(padding-bottom, 0, 30%);

	// slide_list_form
	.wrp_slide_list {
		@include cV(padding, 0 0 0 5%, 0 0 0 3%);
		@include cV(margin, 10% 0, 10% 0);
		.box_tit {
			@include cV(margin-bottom, 3%, 5%);
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-right: 3%;
			@include tit_l;
			.tit {
				display: inline-block;
				font-weight: 500;
			}
			.more {
				font-weight: normal;
				@include cV(font-size, 60%, 70%);
				&:after {
					content: "";
					display: inline-block;
					width: 7px;
					height: 10px;
					background: url(../imgs/common/ic/ic_next.svg) no-repeat center;
					margin-left: 0.5em;
				}
			}
		}
		.con_slide_list {
			.box_slide_list {
				width: 100%;
				overflow-x: auto;
				-webkit-overflow-scrolling: touch;
				white-space: nowrap;
				li {
					@include cV(margin-right, 8px, 8px);
					@include cV(width, 176px, 42%);
					min-width: 160px;
					white-space: normal;
					display: inline-block;
					a {
						display: block;
						.box_img {
							border-radius: 16px 16px 0 0;
							overflow: hidden;
							background-color: gray;
							width: 100%;
							height: 120px;
							img {
								display: block;
								width: 100%;
								height: 100%;
								object-fit: cover;
								image-rendering: optimizeSpeed;
							}
						}
						.box_txt {
							border-radius: 0 0 16px 16px;
							box-sizing: border-box;
							border: 1px solid $lightGray;
							padding: 5% 8%;
							span, small, dl {display: block;}
							.p_name {
								@include txt_m;
								line-height: 1;
								font-weight: 400;
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
								@include cV(margin-bottom, 3px, 0.3em); 
							}
							.p_wrd, .p_count, .p_member {
								@include txt_mini;
								color: $dkGray;
								.c-num {
									margin-left: 0.5em;
									strong {
										color: $pointColor;
										font-weight: 600;
										&:after {
											content: "/";
											font-weight: 500;
											margin: 0 0.3em;
											color: $dkGray;
										}
									}
								}
							}
						}
					}
					&:last-child {
						margin-right: 5%;
					}
				}
			}
		}
		&.comm {
			.con_slide_list {
				.box_slide_list {
					display: flex;
					li {
						border-radius: 16px;
						background-color: $bgGray;
						a {
							box-sizing: border-box;
							@include cV(padding, 10%, 10%);
							display: flex;
							height: 100%;
							flex-direction: column;
							justify-content: space-between;
							.cate, .txt, .box_utill {
							}
							.cate {
								@include txt_s;
								@include cV(margin-bottom, 20px, 5%);
								color: $dkGray;
							}
							.txt {
								@include txt_l;
								display: -webkit-box;
								-webkit-box-orient: vertical;
								-webkit-line-clamp: 3;
								overflow: hidden;
								text-overflow: ellipsis;
								word-break: break-all;
							}
							.box_util {
								display: flex;
								@include cV(margin-top, 50px, 25%);
								@include txt_s;
								p {
									margin-right: 5%;
									color: $dkGray;
								}
								.logo {
									@include cV(width, 100px, 40%);
								}
								
							}
						}
						&:first-child {
							background-color: $subPointColor;
							a {
								color: white;
								.cate {color: white}
							}
							
						}
					}
				}
			}
		}
	}

	// world_icon_list_form
	.con_wrd_list {
		@include cV(padding, 0 5%, 0 3%);
		@include cV(margin, 10% 0, 10% 0);
		.box_tit {
			@include tit_l;
			@include cV(margin-bottom, 3%, 5%);
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-right: 3%;
			font-weight: 500;
		}
		.box_wrd_list {
			display: flex;
			flex-wrap: wrap;
			li {
				text-align: center;
				@include cV(width, 19.2%, 24.25%, 23.5%);
				@include cV(margin-left, 1%, 2%);
				margin-bottom: 5%;
				.icon {
					a {
						background-color: $bgGray;
						width: 100%;
						border-radius: 16px;
						display: inline-flex;
						justify-content: center;
						align-items: center;
						@include cV(height, 7em, 4.5em);
					}
				}
				.txt {
					text-align: center;
					@include fsz-cha(15,14,9);
					@include cV(margin-top, 3%, 3%);
					display: block;
					line-height: 1.7;
				}
				@include mq(pc) {
					&:nth-child(5n+1) {
						margin-left: 0;
					}
				}
				@include mq(tab_sp) {
					&:nth-child(4n+1) {
						margin-left: 0;
					}
				}
			}
		}
	}

	// slide_hot
	.con_slide_hot {
		@include cV(padding, 0 0 0 5%, 0 0 0 3%);
		@include cV(margin, 10% 0, 10% 0);
		.box_tit {
			@include tit_l;
			@include cV(margin-bottom, 3%, 5%);
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-right: 3%;
			.tit {
				font-weight: 500;
			}
			.more {
				@include txt_s;
				&:after {
					content: "";
					display: inline-block;
					width: 7px;
					height: 10px;
					background: url(../imgs/common/ic/ic_next.svg) no-repeat center;
					margin-left: 0.5em;
				}
			}
		}
		.box_list {
			ul {
				display: block;
				padding-right: 1.5em;
				min-width: 320px;
				li {
					@include cV(width, 350px, 100%);
					display: flex;
					box-sizing: border-box;
					align-items: center;
					border-bottom: 1px solid $lightGray;
					padding-bottom: 3%;
					margin-bottom: 3%;
					.box_profile {
						position: relative;
						margin-right: 0.5em;
						.pic {
							width: 48px;
							height: 48px;
							overflow: hidden;
							border-radius: 50%;
						}
						.ic_md {
							position: absolute;
							right: 0;
							bottom: 0;
							line-height: 1;
						}
					}
					.box_txt {
						dt {
							display: flex;
							align-items: center;
							.p_name {
								@include txt_m;
								margin-right: 0.5em;
								line-height: 1;
							}
							.ic_star {
								@include txt_s;
								display: flex;
								img {
									width: 0.7em;
									margin-right: 0.2em;
								}
							}
						}
						dd {
							@include txt_s;
							color: $dkGray;
							small {
								&:before {
									content: "・";
								}
								&:first-child {
									&:before {
										display: none;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	

	// btn style
	.btn_more {
		@include cV(margin-top, 50px, 8%);
		a {
		  @include fsz-cha(15,15,13);
		  @include font('en');
		  color: white;
		  font-weight: bold;
		  &:after {
			content: "\f054";
			font-family: 'Font Awesome 6 Free';
			font-weight: 900;
			font-size: 90%;
			margin-left: 8px;
		  }
		}
	}

	@include mq(pc_s) {
		width: calc(100% - 220px);
	}
	@include mq(pc_tab) {
		position: absolute;
		top: 0;
		right: 0;
	}
	@include mq(sp) {
		.btn_more {
			a {
				display: block;
			}
		}
	}
}



/* Footer Style */
#footer {
	position: relative;
	box-sizing: border-box;
    display: block;
	@extend %bw;
	@include cV(text-align, left, center);
	.box_footer {
		@include fsz-cha(13,13,10);
		box-sizing: border-box;
		color: #666;
		.address {
			font-weight: 300;
		}
		.copy {
			@include font('en');
			line-height: 1.8;
		}
	}
	.btn_top {
		position: fixed;
		bottom: 1.5em;
		right: 1.5em;
		a {
			justify-content: center;
			background-color: white;
			align-items: center;
			width: 50px;
			height: 50px;
			display: flex;
			border: 1px solid #d9d9d9;
		}
	}
}