@charset "utf-8";
@import "settings";

#header {
  .box_gnav li:nth-child(2) a {opacity: 1;}
  @include mq(sp) {
    .logo {
      display: none;
    }
	.p_tit {
		display: block;
		font-weight: bold;
	}

  }
}

#con_page {
	@include cV(background-color, white, $bgGray);
	@include cV(padding-bottom, 200px, 30%);
	.wrp_slide_list.comm {
		.con_slide_list {
			.box_slide_list {
				li {
					@include cV(background-color, $bgGray, white);
				}
			}
		}
	}

	.con_bn {
		@include layout_normal;
		@include cV(margin-top, 50px, 50px, 5%);

		.box_bn {
			@include cV(background-color, $bgGray, $bgGray);
			box-sizing: border-box;
		}
	}

	.con_post {
		@include layout_normal;
		@include cV(margin-top, 50px, 50px, 5%);
		.box_post {
			background-color: white;
			box-sizing: border-box;
			@include cV(border-radius, 0, 16px);
			@include cV(padding, 20px, 4%);
			@include cV(margin-bottom, 16px, 3%);
			border-bottom: 1px solid $lightGray;
			.wrp_profile {
				display: flex;
				justify-content: space-between;
				@include cV(margin-bottom, 10px, 3%);
				.cate {
					width: 35%;
					text-align: right;
					@include txt_s;
				}
			}
			.box_txt {
				.tit {
					@include txt_l;
					@include cV(margin-bottom, 8px, 2%);
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 2;
					overflow: hidden;
					text-overflow: ellipsis;
					word-break: break-all;
					font-weight: bold;

				}
				.txt {
					color: $dkGray;
					@include txt_s;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 2;
					overflow: hidden;
					text-overflow: ellipsis;
					word-break: break-all;

					
				}
			}
			.box_util {
				display: flex;
				justify-content: space-between;
				@include cV(margin-top, 20px, 3%);
				@include txt_mini;
				color: $dkGray;
				.icons {
					width: 50%;
					display: inline-block;
					p {
						display: inline-block;
						@include cV(margin-left, 8px, 3%);
						span {
							padding: 0 0.3em;
						}
						&:first-child {
							margin-left: 0;
						}
					}
				}
			}
			@include mq(pc) {
				.box_txt a:hover {
					.tit {text-decoration: underline;}
				}
			}
		}
	}


	@include mq(pc) {
		.con_post {
			max-width: 970px;
		}
	}

  
}
