@charset "utf-8";
@import "settings";

#header {
  .box_gnav li:nth-child(2) a {opacity: 1;}
  @include mq(sp) {
    .logo {
      display: none;
    }
	.p_tit.comm {
		display: block;
		font-weight: bold;
	}

  }
}

#con_page {
	@include cV(background-color, white, $bgGray);
	@include cV(padding-bottom, 200px, 30%);
	.wrp_slide_list.comm {
		.con_slide_list {
			.box_slide_list {
				li {
					@include cV(background-color, $bgGray, white);
				}
			}
		}
	}

	.con_bn {
		@include cV(margin, 50px 5% 0 5%, 5% 4% 0 4%, 5% 4% 0 4%);
		.box_bn {
			@include cV(background-color, $whiteGray, white);
			box-sizing: border-box;
		}
	}

	.con_post {
		@include cV(margin, 0 5% 0 5%, 0 4% 0 4%, 0 4% 0 4%);
		max-width: 970px;
		.box_post {
			background-color: white;
			border: 1px solid $lightGray;
			border-radius: 16px;
			box-sizing: border-box;
			@include cV(padding, 20px, 4%);
			@include cV(margin-bottom, 16px, 2%);
			.wrp_profile {
				display: flex;
				justify-content: space-between;
				@include cV(margin-bottom, 10px, 3%);
				.cate {
					width: 35%;
					@include txt_s;
					text-align: right;
				}
			}
			.box_txt {
				@include txt_l;
				.tit {
					font-weight: bold;
					font-weight: 600;
					@include cV(margin-bottom, 8px, 2%);
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 2;
					overflow: hidden;
					text-overflow: ellipsis;
					word-break: break-all;

				}
				.txt {
					font-size: 0.8em;
					color: $dkGray;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 2;
					overflow: hidden;
					text-overflow: ellipsis;
					word-break: break-all;

					
				}
			}
			.box_util {
				display: flex;
				justify-content: space-between;
				@include cV(margin-top, 20px, 3%);
				@include txt_mini;
				color: $dkGray;
				.icons {
					width: 50%;
					display: inline-block;
					p {
						display: inline-block;
						@include cV(margin-left, 8px, 3%);
						span {
							padding: 0 0.3em;
						}
						&:first-child {
							margin-left: 0;
						}
					}
				}
			}
			@include mq(pc) {
				.box_txt a:hover {
					.tit {text-decoration: underline;}
				}
			}
		}
	}

  
}
