@charset "utf-8";
@import "settings";

#header {
  .box_gnav li:nth-child(2) a {
    opacity: 1;
  }
  @include mq(sp) {
    .logo {
      display: none;
    }

  }
  

}

#con_page {
  display: block;
  background-color: $bgGray;
	.wrp_slide_list {
		&.comm {
			.con_slide_list {
				.box_slide_list {
					li {
						background-color: white;
					}
				}
			}
		}
	}
  
}
