@charset "utf-8";
@import "settings";

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
html {
	line-height: 1.5;
    overflow-x: hidden;
    em {font-style: normal;}
    
}
body {
	color: $baseColor;
    font-family: 'Noto Sans JP', sans-serif;
	-webkit-text-size-adjust: none;
	@include fsz($baseSize, 16);
	.ie & {
		@include fsz($baseSize, 13.4);
	}
	@include mq(sp) {
		@include fsz($baseSize - 1, 13);
	}
	a {
		color: $baseColor;
        text-decoration: none;
	}
	img {
		max-width: 100%;
		-webkit-touch-callout: none;
		line-height: 1;
	}
    .en {@include font('en');}

	::-webkit-scrollbar {
		display: none;
	  }
}

input, select, textarea {
	font-size: 100%;
}
select {
	@include mq(sp) {
		// font-size: 16px;
	}
}

// ie8 지원
html.ie8 {
	.view_tab,
	.view_tab_sp,
	.view_sp {
		display: none !important;
	}
	#con_page {
		min-width: $columnWidth * 1px !important;
		margin: auto;
		font-size: 100% !important;
	}
}

// .view_xxx
body {
	position: relative;
	background-color: white;
	@include mq(pc) {
		.view_tab-sp,
		.view_tab {
			display: none !important;
		}
	}
	@include mq(pc_tab) {
		.view_sp {
			display: none !important;
		}
	}
	@include mq(tab_sp) {
		.view_pc {
			display: none !important;
		}
	}
	@include mq(sp) {
		.view_pc-tab,
		.view_tab {
			display: none !important;
		}
	}
}

li {list-style-type: none;}


/* header Style */
#header {
	@include cV(width, 245px, 75px, 100%);
	@include cV(padding, 45px 35px 35px, 40px 20px 30px, 3%);
	position: fixed;
	background-color: white;
	box-sizing: border-box;
	z-index: 100;
	border-right: 1px solid $lightGray;
	.logo {
		@include cV(padding-top, 0, 0.1em);
		@include cV(width, 100%, 50%);
		a {
			display: block;
		}
	}
	.p_tit {
		@include tit_l;
	}
	.box_gnav {
		position: relative;
		li {
			@include cV(margin, 40px 0, 0);
			a {
				display: flex;
				flex-wrap: wrap;
				@include cV(opacity, 1, 0.3);
				span {
					@include fsz-cha(20,16,12);
					font-weight: bold;
					display: block;
					@include cV(margin-right, 15px, 0, 0);
				}
				em {
					@include fsz-cha(16,14,9);
					display: block;
				}
			}
		}
	}
	.box_util {
		.box_icons {
			display: flex;
			@include cV(justify-content, flex-start, center, center);
			li {
				a {
					display: flex;
					.btn_icon {
						padding: 0.5em;
					}
					span {
						@include fsz-cha(20,16,12);
						font-weight: bold;
						display: block;
						@include cV(margin-right, 15px, 0, 0);
					}
					em {
						@include fsz-cha(16,14,9);
						display: block;
					}
				}
			}
		}
	}

	@include mq(pc_s) {
		width: 220px;
		.box_gnav {
			li {
				margin: 35px 0;
				a {
					span {
						font-size: 18px;
					}
					em {
						font-size: 16px;
					}
				}
			}
		}
		}

	@include mq(pc_tab) {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.box_gnav {
			height: 80vh;
		}
		.p_tit {display: none;}
	}
	@include mq(tab) {
		.logo {
			width: 100%;
			.logo_waplay {display: none;}
		}
		.box_gnav li a {
			width: 100%;
			padding: 0.5em 0;
			display: flex;
			justify-content: center;
			img {
				max-width: none;
				width: 100%;
			}
			em { display: none;}
		}
		.box_util .address {display: none;}
	}
	@include mq(sp) {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 60px;
		top: 0;
		.box_gnav {
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			display: flex;
			justify-content: space-around;
			border-radius: 20px 20px 0 0;
			background-color: white;
			transition: bottom 0.35s;
			li {
				width: 20%;
				a {
					text-align: center;
					padding: 10% 0 28%;
					span, em {
						width: 100%;
					}
				}
				&.btn_play {
					position: fixed;
					z-index: 100;
					display: inline-flex;
					justify-content: center;
					bottom: 5%;
					a {
						@include cV(width, 56px, 45px);
						@include cV(height, 56px, 45px);
						background-color: $pointColor;
						border-radius: 50%;
						border: 8px solid white;
						display: inline-flex;
						justify-content: center;
						align-items: center;
						opacity: 1;
						padding: 0;
						img {
							color: white;
							width:55%;
						}
					}
				}
				&:nth-child(2) {
					padding-right: 5%;
				}
				&:nth-child(4) {
					padding-left: 5%;
				}
			}
			&.active {
				bottom: 0;
			}
		}
	}
}

.open_menu {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	position: fixed;
	overflow-y: scroll;
	right: -100%;
	z-index: 100;
	background-color: #f9f9f9;
	transition: right 0.35s ease;
	ul {
		padding: 10% 0 25%;
		.nav {
			.tit {
				display: block;
				padding: 5%;
				strong, span {
					@include cV(block, inline-block);
				}
				span {
					@include fsz(13);
				}
			}
			.list {
				padding: 0 5%;
				display: flex;
				flex-wrap: wrap;
				li {
					margin-left: 2%;
					margin-bottom:2%;
					width: 100%;
					a {
						box-sizing: border-box;
						border: 1px solid #ebebeb;
						display: block;
						box-sizing: border-box;
						padding: 1em;
						background-color: white;
						border-radius: 8px;
						@include fsz(13);
						i {margin-right: 0.5em;}
						
					}
				}
			}
			.gallery {
				padding: 0 5%;
				display: flex;
				flex-wrap: wrap;
				li {
					width: 32%;
					height: 35vw;
					background-color: white;
					margin-left: 2%;
					margin-bottom: 2%;
					border-radius: 8px;
					overflow: hidden;
					a {
						display: flex;
						text-align: center;
						height: 100%;
						flex-direction: column-reverse;
						small {
							@include fsz(10);
							box-sizing: border-box;
							padding: 0.3em 0.2em;
							color: white;
							background-color: rgba(0,0,0,0.2);
							font-weight: 500;
						}
					}
					&.brand {
						background: url(../imgs/img_brand.jpg) no-repeat center;
						background-size: cover;
					}
					&.trading {
						background: url(../imgs/img_trading.jpg) no-repeat center;
						background-size: cover;
					}
					&.resturant {
						background: url(../imgs/img_resturant.jpg) no-repeat center;
						background-size: cover;
					}
					&.ebiz {
						background: url(../imgs/img_ebiz.jpg) no-repeat center;
						background-size: cover;
					}
					&.leisure {
						background: url(../imgs/img_leisure.jpg) no-repeat center;
						background-size: cover;
					}
					&.interior {
						background: url(../imgs/img_interior.jpg) no-repeat center;
						background-size: cover;
					}
				
					&:nth-child(3n+1) {
						margin-left: 0;
					}
				}
			} 
		}
	}
	&.active {
		top: 0;
		right: 0;
	}
}


#con_page {
	@include cV(width, calc(100% - 245px),calc(100% - 75px), 100%);
	@include cV(margin-top, 0, 60px);
    box-sizing: border-box;
	@include cV(padding-bottom, 100px, 16%);

	// slide_list_form
	.wrp_slide_list {
		@include cV(padding, 70px 5% 0 5%, 8% 0 0 4%, 11% 0 0 4%);
		.box_tit {
			@include main_tit;
		}
		.con_slide_list {
			.box_slide_list {
				width: 100%;
				position: relative;
				li {
					@include cV(margin-right, 16px, 8px, 4px);
					@include cV(width, 181.1px, 176px, 42%);
					white-space: normal;
					display: inline-block;
					a {
						display: block;
						.box_img {
							border-radius: 16px 16px 0 0;
							overflow: hidden;
							background-color: gray;
							width: 100%;
							height: 120px;
							img {
								display: block;
								width: 100%;
								height: 100%;
								object-fit: cover;
								image-rendering: optimizeSpeed;
							}
						}
						.box_txt {
							border-radius: 0 0 16px 16px;
							box-sizing: border-box;
							border: 1px solid $lightGray;
							padding: 5% 8%;
							span, small, dl {display: block;}
							.p_name {
								@include txt_m;
								line-height: 1;
								font-weight: 400;
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
								@include cV(margin-bottom, 3px, 0.3em); 
							}
							.p_wrd, .p_count, .p_member {
								@include txt_mini;
								color: $dkGray;
								.c-num {
									strong {
										color: $pointColor;
										font-weight: 600;
										&:after {
											content: "/";
											font-weight: 500;
											margin: 0 0.3em;
											color: $dkGray;
										}
									}
								}
							}
						}
					}
					&:last-child {
						@include cV(margin-right, 0, 5%, 5%);
					}
				}
				.slick-arrow {
					width: 50px;
					height: 50px;
					border-radius: 50%;
					line-height: 1;
					position: absolute;
					top: 0;
					bottom: 0;
					background-color: white;
					margin: auto;
					z-index: 2;
					&.slick-prev {
						left: -2em;
						&:before {
							font-family: "Font Awesome 5 Free";
							font-weight: 900;
							content: "\f104";
							font-size: 1.5em;

						}
						
					}
					&.slick-next {
						right: -2em;
						&:before {
							font-family: "Font Awesome 5 Free";
							font-weight: 900;
							content: "\f105";
							font-size: 1.5em;
						}

					}
				}
				@include mq(pc) {
					display: flex;
					
				}
				@include mq(tab_sp) {
					overflow-x: auto;
					-webkit-overflow-scrolling: touch;
					white-space: nowrap;
				}
			}
		}
		&.comm {
			.con_slide_list {
				.box_slide_list {
					li {
						border-radius: 16px;
						background-color: $bgGray;
						@include cV(margin-right, 16px, 8px, 4px);
						a {
							box-sizing: border-box;
							@include cV(padding, 10%, 10%);
							display: flex;
							height: 100%;
							flex-direction: column;
							justify-content: space-between;
							.cate {
								@include txt_s;
								@include cV(margin-bottom, 20px, 5%);
								color: $dkGray;
							}
							.txt {
								@include txt_l;
								display: -webkit-box;
								-webkit-box-orient: vertical;
								-webkit-line-clamp: 3;
								overflow: hidden;
								text-overflow: ellipsis;
								word-break: break-all;
								@include cV(height, 82px, 70px);
							}
							.box_util {
								display: flex;
								@include cV(margin-top, 30px, 15%);
								@include txt_s;
								p {
									margin-right: 5%;
									color: $dkGray;
								}
								.logo {
									@include cV(width, 70px, 40%);
								}
								
							}
						}
						&:first-child {
							background-color: $subPointColor;
							a {
								color: white;
								.cate {color: white}
							}
						}
						&:last-child {
							@include cV(margin-right, 0, 5%, 5%);
						}
					}
				}
			}
		}
		&.cate_nav {
			@include cV(padding-top, 50px, 4%, 0);
			top: 60px;
			z-index: 10;
			.box_tit {
				@include cV(margin-bottom, 20px, 3%);
			}
			.con_slide_list {
				.box_slide_list {

					li {
						width: auto;
						@include txt_m;
						@include cV(margin-right, 16px, 16px, 5%);
						&.active {
							&:after {
								content: "";
								display: block;
								width: 100%;
								height: 2px;
								@include cV(margin-top, 8px, 0.5em);
								background-color: $pointColor;
							}
						}
					}
				}
			}
			@include mq(sp) {
				position: sticky;
				background-color: white;
			}
		}
	}

	.con_slide_nav {
		@include cV(margin, 0 0 5%, 11% 0);
		background-color: white;
		position: sticky;
		@include cV(top, 0, 60px);
		

		.box_slide_nav {
			.slide_list {
				width: 100%;
				overflow-x: auto;
				-webkit-overflow-scrolling: touch;
				white-space: nowrap;
				li {
					display: inline-block;
					a {
						@include txt_l;
					}
					&:last-child {
						@include cV(margin-right, 0, 5%, 5%);
					}

				}
			}
		}
	}

	// world_icon_list_form
	.con_wrd_list {
		@include cV(padding, 70px 5% 0 5%, 8% 4% 0 4%, 11% 4% 0 4%);
		.box_tit {
			@include main_tit;
		}
		.box_wrd_list {
			display: flex;
			flex-wrap: wrap;
			li {
				text-align: center;
				@include cV(width, 15%, 18.4%, 23.5%);
				margin-left: 2%;
				margin-bottom: 5%;
				.icon {
					a {
						background-color: $bgGray;
						width: 100%;
						border-radius: 16px;
						display: inline-flex;
						justify-content: center;
						align-items: center;
						@include cV(height, 7em, 4.5em);
					}
				}
				.txt {
					text-align: center;
					@include fsz-cha(15,14,9);
					@include cV(margin-top, 3%, 3%);
					display: block;
					line-height: 1.7;
				}
				@include mq(pc) {
					&:nth-child(6n+1) {
						margin-left: 0;
					}
				}
				@include mq(tab) {
					&:nth-child(5n+1) {
						margin-left: 0;
					}
				}
				@include mq(sp) {
					&:nth-child(4n+1) {
						margin-left: 0;
					}
				}
			}
		}
	}

	// slide_hot
	.con_slide_hot {
		@include cV(padding, 70px 5% 0 5%, 8% 0 0 4%, 11% 0 0 4%);
		.box_tit {
			@include main_tit;
		}
		.box_list {
			ul {
				display: block;
				padding-right: 1.5em;
				max-width: 320px;
				li {
					@include cV(width, 350px, 100%);
					display: flex;
					box-sizing: border-box;
					align-items: center;
					border-bottom: 1px solid $lightGray;
					padding-bottom: 5%;
					margin-bottom: 5%;
					.box_profile {
						position: relative;
						margin-right: 0.5em;
						.pic {
							width: 48px;
							height: 48px;
							overflow: hidden;
							border-radius: 50%;
						}
						.ic_md {
							position: absolute;
							right: 0;
							bottom: 0;
							line-height: 1;
						}
					}
					.box_txt {
						dt {
							display: flex;
							align-items: center;
							.p_name {
								@include txt_m;
								margin-right: 0.5em;
								line-height: 1;
							}
							.ic_star {
								@include txt_s;
								display: flex;
								img {
									width: 0.7em;
									margin-right: 0.2em;
								}
							}
						}
						dd {
							@include txt_s;
							color: $dkGray;
							small {
								&:before {
									content: "・";
								}
								&:first-child {
									&:before {
										display: none;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	// con_story
	.con_story {
		@include cV(padding, 70px 5% 0 5%, 8% 4% 0 4%, 11% 4% 0 4%);
		.box_tit {
			@include main_tit;
		}
		.box_story {
			.story_list {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				li {
					@include cV(width, 49%, 48%);
					@include cV(height, 240px, 55vw);
					@include cV(margin-bottom, 2%, 4%);
					background-color: $bgGray;
					border-radius: 16px;
					overflow: hidden;
					a {
						display: block;
						box-sizing: border-box;
						position: relative;
						height: 100%;
						.tit {
							@include tit_l;
							z-index: 5;
							position: absolute;
							width: 100%;
							box-sizing: border-box;
							top: 0;
							left: 0;
							color: white;
							@include cV(padding, 5%, 8%, 10%);
							.stxt, .txt {display: block;}
							.stxt {
								font-weight: 400;
								@include txt_s;
								
								
							}
							.txt {font-weight: bold;}
						}
						.img {
							width: 100%;
							height: 100%;
							img {
								width: 100%;
								height: 100%;
								object-fit: cover;
							}
						}
						&:after {
							content: "";
							display: block;
							width: 100%;
							height: 100%;
							background-color: rgba(0,0,0,0.15);
							position: absolute;
							top: 0;
							left: 0;
							z-index: 3;
						}
					}
				}
			}
		}
	}

	//Banner Content
	.con_bn {
		position: relative;
		@include cV(margin, 50px 5% 0 5%, 4% 4% 0 4%, 11% 4% 0 4%);
		.box_bn {
			box-sizing: border-box;
			background-color: $pointColorLight;
			border-radius: 16px;
			@include cV(padding, 15px 20px 50px, 3% 5% 8%);
			display: flex;
			justify-content: space-between;
			.box_txt {
				strong, span {display: block;}
				strong {
					@include tit_l;
					font-weight: bold;
				}
				span {
					@include txt_m;
				}
			}
			.box_img {
				width: auto;
				height: auto;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				margin: auto;
				img {
					height: 100%;
				}
			}
		}
		.slider-count {
			position: absolute;
			@include cV(left, 2%, 5%);
			line-height: 1.2;
			bottom: 10%;
			border: 1px solid $gray;
			border-radius: 100px;
			padding: 0 1%;
			color: white;
			background-color: rgba(0,0,0,0.3);
			display: inline-block;
			@include fsz-cha(13,13,9);
			letter-spacing: 0.2em;
		}
		@include mq(pc) {
			max-width: 970px;
		}
	}



	.con_bn + section, .con_fix_top + section, .con_wrd_list + section {
		@include cV(padding-top, 3%, 8%);
	}

	// con_fix_top
	.con_fix_top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: white;
		box-sizing: border-box;
		padding: 20px;
		border-bottom: 1px solid $lightGray;
		@include cV(padding, 1% 5%, 2% 4%, 2% 4%);
		position: sticky;
		top: 0;
		z-index: 100;
		min-height: 70px;
		.box_search {
			display: flex;
			align-items: center;
			input[type="search"] {
				background-color: $bgGray;
				box-sizing: border-box;
				width: 300px;
				padding: 10px 10px 10px 50px;
				border-radius: 8px;
				position: relative;
			}
			&:before {
				position: absolute;
				content: "";
				width: 16px;
				height: 16px;
				background: url(../imgs/common/ic/ic_search.svg) no-repeat center;
				z-index: 2;
				background-size: cover;
				margin-left: 20px;
			}
		}
		.box_util {
			.icons {
				display: flex;
				align-items: center;
				li {
					margin-left: 1em;
					.btn_bell a {
						padding: 0.5em;
					}
					.btn_user {
						overflow: hidden;
						border-radius: 50%;
						width: 32px;
						height: 32px;
						a {
							display: block;
							img {
								width: 100%;
								height: 100%;
								object-fit: cover;
							}
						}
					}
				}
			}
			
		}
	}




	// btn style
	.btn_more {
		@include cV(margin-top, 50px, 8%);
		a {
		  @include fsz-cha(15,15,13);
		  @include font('en');
		  color: white;
		  font-weight: bold;
		  &:after {
			content: "\f054";
			font-family: 'Font Awesome 6 Free';
			font-weight: 900;
			font-size: 90%;
			margin-left: 8px;
		  }
		}
	}
	@include mq(pc) {
		.wrp_slide_list, .con_wrd_list, .con_slide_hot, .con_story {
			max-width: 970px;
		}
	}

	@include mq(pc_s) {
		width: calc(100% - 220px);
	}
	@include mq(pc_tab) {
		position: absolute;
		top: 0;
		right: 0;
	}
	@include mq(sp) {
		.btn_more {
			a {
				display: block;
			}
		}
	}
}

h1.p_tit {
	@include tit_l;
	font-weight: bold;
}

/* Footer Style */
#footer {
	position: relative;
	box-sizing: border-box;
    display: block;
	@extend %bw;
	@include cV(text-align, left, center);
	.box_footer {
		@include fsz-cha(13,13,10);
		box-sizing: border-box;
		color: #666;
		.address {
			font-weight: 300;
		}
		.copy {
			@include font('en');
			line-height: 1.8;
		}
	}
	.btn_top {
		position: fixed;
		bottom: 1.5em;
		right: 1.5em;
		a {
			justify-content: center;
			background-color: white;
			align-items: center;
			width: 50px;
			height: 50px;
			display: flex;
			border: 1px solid #d9d9d9;
		}
	}
}