@charset "utf-8";
@import "settings";

#header {
  .box_gnav li:nth-child(1) a {
    opacity: 1;
  }
  @include mq(sp) {
    .logo {
      display: block;
    }
    .p_tit {
      display: none;
    }
  }
}

#con_page {
  display: block;
}
