@charset "utf-8";
@import "settings";

#header {
  .box_gnav li:nth-child(4) a {opacity: 1;}
  @include mq(sp) {
    .logo {
      display: none;
    }
	.p_tit.mypage {
		display: block;
		font-weight: bold;
	}

  }
}

#con_page {
	@include cV(padding-bottom, 200px, 30%);
	.wrp_my_profile {
		@include cV(background-color, white, $bgGray);
		.con_my_profile {
			@include layout_normal;
			@include cV(margin-top, 50px, 5%, 5%);
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: flex-end;
			@include cV(padding, 0, 8% 0 5%);
			.box_stat {
				@include txt_m;
				display: flex;
				align-items: center;
				i {display: inline-block;}
				.bronze {
					color: $brown;
					font-weight: bold;
					@include cV(margin-left, 4px, 2%);
				}
				}
				.box_lv {
					color: $dkGray;
					line-height: 1;
					@include cV(margin-left, 8px, 5%);
					strong {
						margin-left: 4px;
					}
				}
			.box_user_info {
				.tit {
					@include tit_l;
					@include cV(margin-bottom, 10px, 3%);
				}
				.box_info {
					display: flex;
					@include txt_m;
					display: flex;
					dt {
						@include cV(margin-right, 4px, 0.3em);
					}
					dd {
						font-weight: bold;
						@include cV(margin-right, 16px, 0.8em);
					}
				}
			}
			.box_pic {
				@include cV(width, 80px, 72px);
				@include cV(height, 80px, 72px);
				position: relative;
				.img {
					width: 100%;
					height: 100%;
					border-radius: 50%;
					overflow: hidden;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
				.ic {
					display: inline-flex;
					justify-content: center;
					align-items: center;
					@include cV(width, 24px, 20px);
					@include cV(height, 24px, 20px);
					border: 1px solid $lightGray;
					background-color: white;
					border-radius: 50%;
					position: absolute;
					bottom: 0;
					right: 0;
					i {
						@include cV(font-size, 1em, 0.7em);
						opacity: 0.5;
						line-height: 1;
					}

				}
				@include mq(pc) {
					&:hover {
						cursor: pointer;
					}
				}
			}
			.box_exp {
				@include cV(margin-top, 30px, 5%);
				width: 100%;
				.exp_bar {
					width: 100%;
					height: 8px;
					@include cV(background-color, $lightGray, white);
					border-radius: 100px;
					overflow: hidden;
					.exp {
						width: 0;
						height: 8px;
						background-color: $pointColor;
						transition: width 1s ease;
					}
				}
				.txt {
					display: flex;
					justify-content: space-between;
					@include cV(margin, 8px 0 16px, 1% 0 3%);
					@include txt_s;
					.lv_current {
						.lv_now {
							@include cV(margin-left, 4px, 2%);
						}
					}
					.lv_next {
						.goal:before {
							content: "/";
							display: inline-block;
							margin-right: 3px;
						}
					}
				}
			}
			.btn_point {
				width: 100%;
				a {
					background-color: $pointColor;
					text-align: center;
					color: white;
					display: block;
					box-sizing: border-box;
					@include cV(padding, 15px, 4%);
					border-radius: 8px;
					@include txt_l;
					
				}
				@include mq(pc) {
					a:hover {
						background-color: darken( $pointColor, 5%);
					}
				}
			}
		}
	}

	.con_bn {
		@include cV(margin-top, 50px, 50px, 5%);
		.box_bn {
			background-color: $bgGray;
			box-sizing: border-box;
		}
	}

	.con_menu {
		@include layout_normal;
		.box_menu {
			@include cV(margin, 50px 0, 10% 0);
			dt {
				@include tit_l;
				@include cV(margin-bottom, 8px, 5%);
				@include cV(padding-bottom, 16px, 3%);
				border-bottom: 1px solid $dkGray;
			}
			dd {
				box-sizing: border-box;
				border-radius: 16px;
				a {
					@include cV(padding, 16px, 3% 0, 5% 0);
					@include txt_m;
					display: flex;
					justify-content: space-between;
					align-items: center;
					.box_st {
						display: inline-flex;
						align-items: center;
						i {
							height: 21px;
							@include cV(margin-right, 8px, 0.8em);
						}
					}
					&:after {
						content: "";
						display: inline-block;
						width: 7px;
						height: 12px;
						background: url(../imgs/common/ic/ic_next.svg) no-repeat center;
						background-size: cover;
						opacity: 0.3;
					}
				}
			}
			&.point {
				.cp a {
					@include fsz-cha(24,24,20);
					@include tit_xl;
					font-weight: bold;
				}
			}
		}
		@include mq(pc) {
			dd a:hover {
				background-color: $bgGray;
				border-radius: 8px;
			}
		}
	}

	@include mq(pc) {
		.con_my_profile, .con_menu {
			max-width: 970px;
		}
	}
}
