@charset "utf-8";
@import "settings";

#header {
  @include mq(sp) {
    .logo {
      display: none;
    }
    .p_tit {
      display: block;
    }
    .box_gnav {
      display: none;
    }
    .btn_back {
      display: block;
    }
    .box_util {
      .btn_alarm {display: none;}
    }
  }
}

#con_page {
  display: block;
  .wrp_play_list {
    @include cV(background-color, white, $bgGray);
    @include mq(sp) {
      margin: 0;
      padding: 11% 4% 10% 4%;
    }
	}
  .con_details {
    .box_tit {
      @include cV(margin-bottom, 50px, 10%);
    }

  }


}
